<!DOCTYPE html>
<html lang="<%= config.lang %>">

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width">
  <title><%= page.title ? `${page.title} - ${config.title}` : config.title %></title>
  <% try {
    og_meta = og_meta;
  } catch (e) {
    og_meta = false;
  } %>
  <%- meta_generator() %>
  <% if (og_meta) { %>
    <%- open_graph() %>
  <% } %>
  <%- css("css/normalize-8.0.1-min") %>
  <%- css("css/waves-0.7.6-min") %>
  <%- css("css/base") %>
  <%- css("css/colors") %>
  <% try {
    styles = styles;
  } catch (e) {
    styles = [];
  } %>
  <% for (const i of styles.concat(page.styles ?? [])) { %>
    <%- css(i) %>
  <% } %>
</head>

<body>
  <nav class="sidebar">
    <div class="sidebar-header color-<%= theme.sidebar_color ?? "blue" %>">
      <% if (theme.avatar) { %>
        <img class="sidebar-avatar" src="<%= theme.avatar %>">
      <% } %>
      <span class="sidebar-title"><%- config.title %></span>
      <span class="sidebar-subtitle"><%- config.subtitle %> </span>
      <button id="settings" class="btn-icon"><span class="iconify" data-icon="mdi:cog"></span></button>
    </div>
    <ul class="menu" id="menu">
      <li class="menu-item">
        <span class="menu-icon iconify" data-icon="mdi:home"></span>
        <a class="menu-link" href="/"><%= __("base.menu-index") %></a>
      </li>
      <li class="menu-item">
        <span class="menu-icon iconify" data-icon="mdi:file-document"></span>
        <a class="menu-link" href="/archives"><%= __("base.menu-archives") %></a>
      </li>
      <li class="menu-item">
        <span class="menu-icon iconify" data-icon="mdi:magnify"></span>
        <a class="menu-link" href="/search"><%= __("base.menu-search") %></a>
      </li>
      <% for (const item of theme.menu_items || []) { %>
        <li class="menu-item">
          <span class="menu-icon iconify" data-icon="<%= item.icon %>"></span>
          <a class="menu-link" href="<%= item.href %>" <%- item.pjax === false ? 'data-pjax="skip"' : '' %>><%= item.name %></a>
        </li>
      <% } %>
    </ul>
  </nav>
  <div class="navbar-fixed">
    <nav class="navbar color-<%- page.navbarColor %>">
      <button class="btn-icon" id="toggle-menu"><span class="iconify" data-icon="mdi:menu"></span></button>
      <div class="navbar-title"><%- page.title || config.title %></div>
      <button class="btn-icon" id="back-to-top"><span class="iconify" data-icon="mdi:arrow-up"></span></button>
    </nav>
  </div>
  <div id="content">
    <%- body %>
    <% if (theme.footer) { %>
      <div id="footer"><%- theme.footer %></div>
    <% } %>
  </div>
  <ul id="settings-dialog">
    <li data-select="scheme" data-default="auto">
      <button data-option="auto"><span class="iconify" data-icon="mdi:check"></span></button>
      <button data-option="multi"><span class="iconify" data-icon="mdi:check"></span></button>
      <button data-option="single"><span class="iconify" data-icon="mdi:check"></span></button>
      <button data-option="sepia"><span class="iconify" data-icon="mdi:check"></span></button>
      <button data-option="dark"><span class="iconify" data-icon="mdi:check"></span></button>
    </li>
    <li data-select="font" data-default="sans">
      <button data-option="sans">Aa</button>
      <button data-option="serif">Aa</button>
      <button data-option="mono">Aa</button>
    </li>
    <li>
      <div data-adjust="size">
        <button data-minus><span class="iconify" data-icon="mdi:minus"></span></button>
        <div class="subgroup-label"><span class="iconify" data-icon="mdi:format-size"></span><span data-label></span></div>
        <button data-plus><span class="iconify" data-icon="mdi:plus"></span></button>
      </div>
      <div data-adjust="width">
        <button data-minus><span class="iconify" data-icon="mdi:minus"></span></button>
        <div class="subgroup-label"><span class="iconify" data-icon="mdi:arrow-left-right"></span><span data-label></span></div>
        <button data-plus><span class="iconify" data-icon="mdi:plus"></span></button>
      </div>
      <div data-adjust="line">
        <button data-minus><span class="iconify" data-icon="mdi:minus"></span></button>
        <div class="subgroup-label"><span class="iconify" data-icon="mdi:arrow-expand-vertical"></span><span data-label></span></div>
        <button data-plus><span class="iconify" data-icon="mdi:plus"></span></button>
      </div>
    </li>
  </ul>
  <% const polyfills = encodeURIComponent([
    // base.js
    "Array.from",
    "Array.prototype.@@iterator",
    "document.currentScript",
    "Promise",
    "fetch",
    "Element.prototype.replaceWith",
    "Element.prototype.classList",
    "Element.prototype.remove",
    "window.scroll",
    "CustomEvent",
    // search.js
    "Object.values",
    "Object.entries"
  ].join(',')); %>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=<%= polyfills %>"></script>
  <script src="https://code.iconify.design/2/2.0.4/iconify.min.js" async></script>
  <%- js("js/waves-0.7.6-min") %>
  <%- js("js/regenerator-runtime-0.13.9-min") %>
  <%- js("js/base") %>
  <% try {
    scripts = scripts;
  } catch (e) {
    scripts = [];
  } %>
  <% for (const i of scripts.concat(page.scripts ?? [])) { %>
    <%- js(i) %>
  <% } %> 
</body>

</html>