---
layout: base
styles:
  - css/archive
  - css/info
scripts:
  - js/index
---
<% page.navbarColor = theme.index_color ?? "blue"; %>
<div class="post-header color-<%= page.navbarColor %>">
  <div class="container">
    <h1 class="post-title"><%- config.title %></h1>
    <% if (page.subtitle) { %>
      <div class="post-subtitle"><%= page.subtitle %></div>
    <% } %>
  </div>
</div>
<div class="container">
  <%- page.content %>
  <% if (theme.top_tag) { %>
    <% let top = site.posts.filter(e => e.tags.some(t => t.name == theme.top_tag)).sort("-updated") %>
    <% if (top.length != 0) { %>
      <h1 class="page-title"><%= __('index.topmost') %></h1>
      <%- partial("part/archive_list", {posts: top}) %>
    <% } %>
  <% } %>
  <h1 class="page-title"><%= __('index.recent') %></h1>
  <ul id="updated-list" class="post-list"></ul>
</div>