---
layout: base
styles:
  - css/info
  - css/archive
  - css/search
scripts:
  - js/search
---
<% page.title = __('search.title'); page.navbarColor = 4; %>
<div class="post-header bg-4">
  <div class="container">
    <h1 class="post-title"><%= __('search.title') %></h1>
  </div>
</div>
<div class="container">
  <div id="search-input-box">
    <span id="search-icon" class="iconify" data-icon="mdi:magnify"></span>
    <div id="search-pending"><%= __('search.downloading') %></div>
    <input id="search-input">
    <button id="search-clear" class="btn-icon">
      <span id="search-icon" class="iconify" data-icon="mdi:close"></span>
    </button>
  </div>
  <div id="search-results-box">
    <div id="search-empty">
      <span class="iconify" data-icon="mdi:close"></span>
      <div><%= __('search.empty') %></div>
    </div>
    <div id="search-results"></div>
    <button id="search-more" class="waves-effect"><%= __('search.more') %></button>
  </div>
  <div class="filter">
    <h2 class="page-title"><%= __('search.archives') %></h2>
    <%- list_archives() %>
  </div>
  <div class="filter">
    <h2 class="page-title"><%= __('search.categories') %></h2>
    <%- list_categories() %>
  </div>
  <div class="filter">
    <h2 class="page-title"><%= __('search.tags') %></h2>
    <%- list_tags() %>
  </div>
</div>